<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project_pretty_name }}</title>
</head>

<body>
    <h1>We'll be back soon!</h1>
    <p>{{ project_pretty_name }} is currently getting some love. We'll be back soon. Thanks for your patience!</p>
</body>

</html>
