[Unit]
Description={{ project_pretty_name }}
After=network.target

[Service]
User={{ user }}
WorkingDirectory={{ app_dir }}

EnvironmentFile={{ app_dir }}/.env
ExecStart={{ app_dir }}/bin/{{ project_name }} start
ExecStop={{ app_dir }}/bin/{{ project_name }} stop
ExecReload={{ app_dir }}/bin/{{ project_name }} restart

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
