{{ project_url }} {
	reverse_proxy localhost:{{ port }}
	# Enable gzip in endpoint.exs or let Caddy handle compression
	#encode gzip

	handle_errors {
		file_server
		#encode gzip
		root * {{ maintenance_dir }}
	}
}
